.places {
  box-sizing: border-box;
  margin: 0;
  /* padding: 92px 148px; */
  padding: 98px 148px 92px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  /* grid-gap: 80px; */
  grid-gap: 86px;
  justify-content: center;
  align-content: space-between;
}

@media screen and (max-width: 1279px) {
  .places {
    /* padding: 92px 48px; */
    padding: 98px 48px 93px;
    grid-gap: 87px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 90px 24px 96px;
    grid-gap: 81px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 64px 0;
    grid-gap: 48px;
  }
}
