.lead {
  box-sizing: border-box;
  margin: 0;
  padding: 0 148px 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 0 48px 95px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 0 0 92px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    padding: 0 0 66px;
  }
}
