.places__place-title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 1024px) {
  .places__place-title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 768px) {
  .places__place-title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
