.header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* padding: 28px 48px 56px; */
  padding: 28px 48px 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1279px) {
  .header {
    /* padding: 28px 48px 48px; */
    padding: 28px 48px 56px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 29px 49px 54px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px;
  }
}
