.places__place {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: fit-content(460px) 1fr;
  grid-template-rows: min-content min-content;
  grid-gap: 42px 40px;
  grid-template-areas:
    "title website"
    "image text";
  grid-auto-flow: dense;
}

@media screen and (max-width: 1279px) {
  .places__place {
    grid-template-columns: fit-content(440px) 1fr;
    grid-gap: 42px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .places__place {
    grid-template-columns: fit-content(340px) 1fr;
    grid-gap: 42px 28px;
  }
}

@media screen and (max-width: 767px) {
  .places__place {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
    "title"
    "image"
    "text";
    grid-gap: 32px;
  }
}
