.footer__nav-items {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, max-content));
  grid-template-rows: min-content;
  /* grid-gap: 18px; */
  grid-gap: 19px;
}

@media screen and (max-width: 768px) {
  .footer__nav-items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-gap: 32px;
  }
}
