.lead__caption {
  box-sizing: border-box;
  /* margin: 8px 0 0; */
  margin: 7px 0 0;
  padding: 0;
  align-self: flex-start;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* @media screen and (max-width: 1024px) {
  .lead__caption {
    margin: 8px 0 0;
  }
} */

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}
